<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
</head>
<body>
    <form action="./doLogin" method="post">
        用户名: <input type="text" name="username">
        <br>
        密  码: <input type="password" name="passwd">
        <br>
        <input type="submit" value="登录">
    </form>
    <a href="./register">注册</a>   <a href="./forgetPwd">忘记密码？</a>
</body>
</html>